{% extends "layout.html" %}
{% block body %}
<h3>Sign Up!</h3>
<form method="POST" action="/signup">
	<p><input name="first_name" type="text" placeholder="first name" /></p>
	<p><input name="last_name" type="text" placeholder="last name" /></p>
	<p><input name="username" type="text" placeholder="pick a username" /></p>
	<p><input name="email" type="email" placeholder="email address" /></p>
	<p><input name="confirm_email" type="email" placeholder="confirm email" /><p/>
	<p><input name="password" type="password" placeholder="password" /></p>
	<p><input name="confirm_password" type="password" placeholder="confirm password" /></p>
	<p><button type="submit">SUBMIT</button></p>
</form>
{% endblock %}