<!DOCTYPE html>
    <html>
        <head><title>New Page</title></head>
            <body>
                <h1>Emily</h1>
                    <img src="http://3.bp.blogspot.com/-RGQx-6aOsnk/VSwRV1rdAZI/AAAAAAAAAYU/GOn1_4XiuPo/s113/IMG_1820.JPG" />
                    <p>I am married to <a href="http://www.laughindad.com/author/laughindadgmail-com">Ian</a></p>
                    <p>We have five kids <a href="http://m-l-e-life.blogspot.com/">(Our blog)</a></p>
                    <p>I love Jesus</p>
            </body>
    </html>