<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="css/home.css" />
  </head>
	<div class="nav">
		<body>	
			{% with messages = get_flashed_messages() %}
			{% for message in messages %}
				<p>{{message}}</p>
			{% endfor %}
			<h1><a href="/">Tyler's List</a></h1>
			<ul>
	  			<li><a href="/categories">Categories</a></li>
	  			<li><a href="/posts">Posts</a></li>
	  			<li><a href="/create">Create Post</a></li>
			</ul>
			<form action="/search" method="POST">
				<input type="text" name="search" />
				<button type="submit">Search</button>
			</form>
			{% block body %}{% endblock %}
			{% endwith %}
		</body>
	</div>
</html>
